{% extends 'index.html' %}
{% block content %}
<br><br>
<div class="container" style="display: flex;align-items: center;justify-content: center;margin-top: 50px;">
  <div class="card"  style="text-align: center; border-radius: 1rem; width: 500px;">
    <div class="card-header">
      <h2>PASSWORD RESET PAGE</h2>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <input type="password" name="pwd" placeholder="********" class="form-control" required><br>
        <input type="submit" value="Change Password" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

{% endblock %}